
$web-font-path: "https://fonts.googleapis.com/css?family=Lato:400,700,400italic" !default;

$brand-primary: #00a0b9 !default;
$brand-success: desaturate(#18BC9C, 75) !default;
$brand-info: desaturate(#3498DB, 75) !default;
$brand-warning: desaturate(#F39C12, 75) !default;
$brand-danger: desaturate(#E74C3C, 75) !default;

@import "bootswatch-flatly/_variables.scss";
@import "bootstrap/_bootstrap.scss";
@import "bootswatch-flatly/_bootswatch.scss";
