.layout-footer {

  .top-section {
    background-color: #2e3133;
    padding: 3rem 0;
    color: #888888;
    text-align: center;

    .header{
      color: #fff;
      font-weight: 500;
      margin-bottom: 15px;
      text-transform: uppercase;
    }
    a {
      display: inline-block;
      color: #999;
      margin: 0 10px;
    }
  }
  .bottom-section {
    background-color: #25292b;
    overflow: hidden;
    height: 75px;
    line-height: 75px;
    text-align: center;

    span {
      color: #888;
      font-size: 14px;
    }
  }

}
